* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

section {
  padding: 80px 0;
}

/* Navbar style start */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 15px 0;
  transition: transparent;
  background: transparent;
}
.navbar.sticky {
  padding: 15px 0;
  background: #1b1b1b;
  box-shadow: 0px 0 18px rgba(55, 66, 59, 0.08);
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo {
  font-size: 35px;
  font-weight: 600;
}
.navbar .logo a {
  color: #fff;
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a {
  color: #f2f2f2;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  margin-left: 25px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
.navbar .menu li a.active {
  color: #fff;
  background: #e43f5a;
}
.navbar .menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

/* Navbar style end */
/* home style start */
.home {
  display: flex;
  background: url("../asset/s.png");
  background-size: cover;
  height: 100vh;
  color: #1b1b1b;
  min-height: 500px;
  font-family: "Open Sans", sans-serif;
}
.home .max-width {
  width: 100%;
  margin: auto 0 auto 120px;
}
.home .max-width .home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home .home-content .judul-1 {
  font-size: 55px;
  color: #fff;
}
.home .home-content .judul-1 .typing {
  margin-left: 10px;
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid #e43f5a;
  -webkit-animation: typing 3s steps(12) infinite;
          animation: typing 3s steps(12) infinite;
}
.home .home-content .isi {
  display: flex;
  font-size: 24px;
  color: rgb(224, 224, 224);
  margin-top: 8px;
}
.home .home-content .scroll {
  width: 50%;
}
.home .home-content a span {
  position: absolute;
  top: 70%;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #111;
  border-radius: 100%;
  box-sizing: border-box;
}
.home .home-content a span ::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #111;
  border-bottom: 1px solid #111;
  transform: rotate(-45deg);
  box-sizing: border-box;
}
.home .home-content a span :hover {
  color: #3ab0ff;
  background: none;
}
@keyframes typing {
  0% {
    width: 0ch;
  }
  50% {
    width: 9ch;
  }
  100% {
    width: 0ch;
  }
}
/* home style end */
/* video style start */
.video {
  background-color: #fff;
}
.video .video-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}
.video .video-content .left {
  width: 55%;
}
.video .video-content .left video {
  width: 450px;
  border-radius: 6px;
}
.video .video-content .right {
  width: 45%;
}
.video .video-content .right .text {
  font-size: 55px;
  font-weight: 600;
  color: #111;
  margin-bottom: 15px;
}
.video .video-content .right p {
  color: #111;
}
.video .video-content .right a {
  display: inline-block;
  background-color: #e43f5a;
  color: #fff;
  font-size: 16px;
  padding: 10px 30px;
  font-weight: 500;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #e43f5a;
  transition: all 0.3s ease;
}
.video .video-content .right a :hover {
  color: #1b1b1b;
  background: none;
}
.video .video {
  position: relative;
  text-align: center;
  font-size: 37px;
  font-weight: 700;
  margin-bottom: 60px;
  padding-top: 20px;
}

/* video style end */
/* team style start */
.team {
  font-size: 100%;
  background: #f2f2f2;
}
.team .heading-h2 {
  text-align: center;
  margin-bottom: 20px;
}

.tab-container {
  margin: 0 auto 3rem auto;
  box-shadow: 0 0.8rem 1rem hsl(220deg, 7.32%, 91.96%);
}

.tab-filter-container {
  border: 6px;
  padding: 2rem;
  text-align: center;
  background: hsl(205.71deg, 30.43%, 95.49%);
}

.filter-btn {
  display: inline-flex;
  padding: 0.8rem 2.5rem;
  cursor: pointer;
  border-radius: 2rem;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
}
.filter-btn .active {
  background: #e43f5a;
  color: hsl(0deg, 0%, 100%);
}

.tab-filter-item-container {
  background: hsl(0deg, 0%, 100%);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.tab-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0rem 3rem;
  transform: translateY(100%);
  background: var(--white-light);
  transition: transform 0.5s ease-in-out;
}
.tab-item .tab-content-left {
  width: 50%;
}
.tab-item .tab-content-right {
  width: 50%;
}

.tab-img {
  margin: 20px 0;
  width: 20rem;
  border-radius: 6px;
}

.tab-heading {
  padding: 2rem 0;
  font-size: 2rem;
}

.tab-item.select_tab {
  transform: translateY(0);
  transition: transform 0.5s ease-in-out;
  background: hsl(0deg, 0%, 100%);
  -webkit-animation: feadIn 0.6s ease-in-out;
          animation: feadIn 0.6s ease-in-out;
}

.btn-more {
  display: inline-block;
  background-color: #e43f5a;
  color: #fff;
  font-size: 16px;
  padding: 10px 30px;
  font-weight: 500;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #e43f5a;
  transition: all 0.3s ease;
}
.btn-more :hover {
  color: #1b1b1b;
  background: none;
}

@-webkit-keyframes feadIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes feadIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* team style end */
/* modal */
.project_wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  transition: all 0.2s ease;
}
.project_wrap .shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.5s ease;
}

.wrapper.active .project_wrap {
  visibility: visible;
  transition: all 0.5s ease;
}
.wrapper.active .project_wrap .shadow {
  opacity: 1;
  transition: all 0.2s ease;
}

.project_wrap .project {
  width: 450px;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 3px;
}
.project_wrap .project .header {
  background: #e43f5a;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  position: relative;
  padding: 20px;
}
.project_wrap .project .header .title {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.project_wrap .project .container {
  padding: 25px;
}
.project_wrap .project .container .cancel_btn {
  background-color: #e43f5a;
  color: #fff;
  font-size: 16px;
  padding: 10px 30px;
  font-weight: 500;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #e43f5a;
  transition: all 0.3s ease;
}
.project_wrap .project .container .cancel_btn:hover {
  color: #1b1b1b;
  background: none;
}
.project_wrap .project .container .footer {
  display: flex;
  justify-content: flex-end;
}
.project_wrap .project .container .body {
  margin-bottom: 25px;
}
.project_wrap .project .container .project_name_wrap {
  margin-bottom: 25px;
}
.project_wrap .project .label_tittle {
  margin-bottom: 10px;
  font-weight: 700;
}
.project_wrap .project .label_tittle span {
  font-weight: 500;
}
.project_wrap .project .input-text {
  border: 1px solid #d1dce3;
  padding: 12px;
  border-radius: 3px;
  width: 100%;
}
.project_wrap .project .input-text :focus {
  border-color: #4b6fff;
}
.project_wrap .project .project_type {
  display: flex;
}
.project_wrap .project .project_type .pt_item {
  position: relative;
  padding: 20px;
  width: 100px;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
}
.project_wrap .project .project_type .pt_item .input_checkbox {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.project_wrap .project .project_type .pt_item :last-child {
  margin-right: 0;
}
.project_wrap .project .project_type .pt_item .icon .i {
  font-size: 32px;
  margin-bottom: 5px;
}
.project_wrap .project .project_type .pt_item .checkmark {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 1px solid #d1dce3;
  border-radius: 3px;
}
.project_wrap .project .project_type .pt_item .input_checkbox:checked ~ .checkmark {
  border-color: #4b6fff;
}
.project_wrap .project .project_type .pt_item .input_checkbox:checked ~ .icon .i {
  color: #4b6fff;
}
.project_wrap .project .project_type .pt_item .input_checkbox:checked ~ .text {
  color: #4b6fff;
}

/* maps style start */
.maps .title {
  text-align: center;
  margin-bottom: 60px;
}

.maps .maps-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.maps .maps-content .column {
  width: calc(50% - 30px);
}
.maps .maps-content .left .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.maps .maps-content .left p {
  text-align: justify;
  margin-bottom: 10px;
}
.maps .maps-content .left a {
  display: inline-block;
  background: crimson;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 16px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.maps .maps-content .left a :hover {
  color: crimson;
  background: none;
}
.maps .maps-content .slideshow-container {
  max-width: 89%;
  position: relative;
  margin: auto;
}
.maps .maps-content .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.maps .maps-content .right .imgslide {
  display: none;
}
.maps .maps-content .right .prev, .maps .maps-content .right .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.maps .maps-content .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.maps .maps-content .slide .text {
  color: #111;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.maps .maps-content .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.maps .maps-content .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.maps .maps-content .dot .active {
  background-color: #e43f5a;
}
.maps .maps-content .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
.maps .maps-content .fade iframe {
  width: 450px;
  height: 400px;
  border-radius: 6px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Maps style end */
/* footer */
.footer {
  box-shadow: 0 -2px rgb(238, 238, 238);
}

.footer-basic {
  padding: 40px 0;
  background-color: #ffffff;
  color: #4b4c4d;
}
.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}
.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}
.footer-basic ul a :hover {
  opacity: 1;
}
.footer-basic li {
  padding: 0 10px;
}
.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}
.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}
.footer-basic .social > a :hover {
  opacity: 0.9;
}
.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

/* footer style end */
/* Media query start */
@media (max-width: 1300px) {
  .home .max-width {
    margin-left: 0px;
  }
}
@media (max-width: 1104px) {
  .video .video-content .left video {
    width: 350px;
  }
  .maps .maps-content .right iframe {
    width: 350px;
    height: 350px;
  }
}
@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}
@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #1b1b1b;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu .active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .home .home-content .judul-1 {
    font-size: 45px;
  }
  .home .home-content .judul-1 .typing {
    font-size: 45px;
  }
  .home .home-content .isi p {
    font-size: 14px;
  }
  .home .home-content a {
    font-size: 14px;
  }
  .max-width {
    max-width: 800px;
  }
  .video .video-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 40px;
  }
  .video .video-content .right {
    flex: 100%;
  }
  .video .video-content .right .text {
    font-size: 32px;
  }
  .tab-content-left {
    display: flex;
    justify-content: center;
    margin: 0 auto 40px;
  }
  .tab-content-left img {
    border-radius: 6px;
    padding: 0 20px;
  }
  .tab-content-right {
    flex: 100%;
  }
  .maps .maps-content {
    display: flex;
    flex-direction: column;
  }
  .maps .maps-content .column {
    width: 100%;
    margin-bottom: 45px;
  }
  .maps .maps-content .right .slideshow-container {
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
  .maps .maps-content .right .prev, .maps .maps-content .right .next {
    display: none;
  }
}
@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }
  .home .home-content .judul-1 {
    font-size: 36px;
  }
  .home .home-content .judul-1 .typing {
    font-size: 36px;
  }
  .home .home-content .isi p {
    font-size: 14px;
  }
  .tab-container {
    width: 90%;
  }
}
@media screen and (max-width: 472px) {
  .project_wrap .project {
    width: 95%;
  }
  .project_wrap .project .project_type {
    flex-direction: column;
  }
  .project_wrap .project .project_type .pt_item {
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%;
  }
  .project_wrap .project .container .footer {
    justify-content: space-between;
  }
  .project_wrap .project .container .footer .btn_wrap {
    display: flex;
    width: 100%;
  }
  .project_wrap .project .container .footer button {
    width: 50%;
  }
}
@media screen and (max-width: 420px) {
  .project_wrap .project .container .footer .btn_wrap {
    flex-direction: column;
  }
  .project_wrap .project .container .footer button {
    width: 100%;
  }
  .project_wrap .project .container .footer button .cancel_btn {
    margin-bottom: 10px;
  }
}
/* Media query end *//*# sourceMappingURL=main.css.map */