* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

section {
  padding: 80px 0;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 15px 0;
  transition: transparent;
  background: transparent;
}
.navbar .sticky {
  padding: 15px 0;
  background: #1b1b1b;
  box-shadow: 0px 0 18px rgba(55, 66, 59, 0.08);
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo {
  font-size: 35px;
  font-weight: 600;
}
.navbar .logo a {
  color: #fff;
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a {
  color: #f2f2f2;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  margin-left: 25px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
.navbar .menu li a .active {
  color: #fff;
  background: #e43f5a;
}

.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

.team {
  font-size: 100%;
  background: #f2f2f2;
}
.team .heading-h2 {
  text-align: center;
  margin-bottom: 20px;
}

.tab-container {
  margin: 0 auto 3rem auto;
  box-shadow: 0 0.8rem 1rem hsl(220deg, 7.32%, 91.96%);
}

.tab-filter-container {
  border: 6px;
  padding: 2rem;
  text-align: center;
  background: hsl(205.71deg, 30.43%, 95.49%);
}

.filter-btn {
  display: inline-flex;
  padding: 0.8rem 2.5rem;
  cursor: pointer;
  border-radius: 2rem;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
}
.filter-btn .active {
  background: #e43f5a;
  color: hsl(0deg, 0%, 100%);
}

.tab-filter-item-container {
  background: hsl(0deg, 0%, 100%);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.tab-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0rem 3rem;
  transform: translateY(100%);
  background: var(--white-light);
  transition: transform 0.5s ease-in-out;
}
.tab-item .tab-content-left {
  width: 50%;
}
.tab-item .tab-content-right {
  width: 50%;
}

.tab-img {
  margin: 20px 0;
  width: 20rem;
  border-radius: 6px;
}

.tab-heading {
  padding: 2rem 0;
  font-size: 2rem;
}

.tab-item.select_tab {
  transform: translateY(0);
  transition: transform 0.5s ease-in-out;
  background: hsl(0deg, 0%, 100%);
  -webkit-animation: feadIn 0.6s ease-in-out;
          animation: feadIn 0.6s ease-in-out;
}

.btn-more {
  display: inline-block;
  background-color: #e43f5a;
  color: #fff;
  font-size: 16px;
  padding: 10px 30px;
  font-weight: 500;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #e43f5a;
  transition: all 0.3s ease;
}

.btn-more:hover {
  color: #1b1b1b;
  background: none;
}

@-webkit-keyframes feadIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes feadIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.video {
  background-color: #fff;
}
.video .video-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}
.video .video {
  position: relative;
  text-align: center;
  font-size: 37px;
  font-weight: 700;
  margin-bottom: 60px;
  padding-top: 20px;
}
.video .video-content .left {
  width: 55%;
}
.video .video-content .left video {
  width: 450px;
  border-radius: 6px;
}
.video .video-content .right {
  width: 45%;
}
.video .video-content .right .text {
  font-size: 55px;
  font-weight: 600;
  color: #111;
  margin-bottom: 15px;
}
.video .video-content .right p {
  color: #111;
}
.video .video-content .right a {
  display: inline-block;
  background-color: #e43f5a;
  color: #fff;
  font-size: 16px;
  padding: 10px 30px;
  font-weight: 500;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #e43f5a;
  transition: all 0.3s ease;
}

.video .video-content .right a:hover {
  color: #1b1b1b;
  background: none;
}/*# sourceMappingURL=main.css.map */